.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

nav .nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

nav .nav-btn {
    width: 228px;
    height: 58px;
    border: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* Header container style is hear */
.header-container {
    width: 1440px;
    height: 652px;
    margin: 0px auto;
    margin-top: 30px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contant {
    width: 998px;
    height: 582px;
    text-align: center;
}

.header-contant img {
    /* margin-left: %; */
    text-align: center;
}

.header-contant p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}

.header-contant .header-btn {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.header-contant a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
}

/* Why web development needed style */
.web-development-container {
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    justify-content: center;
    text-align: center;
}

.web-development-content {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
}

.web-development-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.web-development-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.web-development-first-content {
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
}

.web-development-text-content {
    width: 477px;
    height: 220px;
    margin-top: 50px;
}

.web-development-text-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.web-development-text-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.web-btn {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 10px;
    margin-right: 360px;
}

.web-development-image-content {
    width: 477px;
    height: 220px;
    margin-top: 50px;
}

.second-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.second-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.second-content .web-btn {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 10px;
    margin-right: 360px;
}

/* inspretio section style */
.inspreation-container {
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
}

.inspreation-text-container {
    width: 852px;
    height: 115px;
    margin: 0 auto;
}

.inspreation-text-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

.inspreation-text-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

.inspreation-vide-container {
    width: 1140px;
    height: 614px;
    margin-top: 45px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.youtube-video iframe {
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 10px 0px;
    margin-left: 30px;
    margin-top: 30px;
}

/* current terget section style */
.current-terget-container {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 149px;
}

.current-terget-text-container {
    width: 946px;
    height: 113px;
    margin: 0px auto;
}

.current-terget-text-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

.current-terget-text-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.current-terget-contant {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.first-contant {
    width: 284px;
    height: 219px;
}

.first-contant h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.first-contant p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.first-contant a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

.first {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.second {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.third {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* Next target style is hear */
.next-target-container {
    width: 1140px;
    height: 866px;
    margin: 0px auto;
    margin-top: 111px;
}

.next-target-text-contain {
    width: 946px;
    height: 113px;
    margin: 0 auto;
}

.next-target-text-contain h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
}

.next-target-text-contain p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.next-target-cotaint-container {
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.next-target-cotaint-image-container {
    width: 94.78px;
    height: 84.41px;
    margin-top: 60px;

}

.next-target-cotaint-image-container img {
    height: 84.41px;
    width: 94.78px;
}

.next-target-cotaint-text-container {
    width: 1060px;
    height: 139px;
    margin-top: 40px;
    margin-left: 20px;
}

.next-target-cotaint-text-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.next-target-cotaint-text-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.next-target-cotaint-text-container a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}

/* footer container style*/
.first-footer-container {
    width: 1140px;
    height: 313px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 40px;
    background-image: url("../assets/handshake.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-footer-text-container {
    width: 1044px;
    height: 185px;
    margin: 0 auto;
    margin-top: 70px;
}

.text-container {
    width: 730px;
    height: 104px;
    margin: 0 auto;
}

.text-container h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
}

.text-container p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.search-container input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.search-container button {
    width: 120px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: none;
    margin-left: 20px;
    text-align: center;
}