.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

nav .nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

nav .nav-btn {
    width: 228px;
    height: 58px;
    border: none;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

/* Header container style is hear */
.header-container {
    width: 1440px;
    height: 652px;
    margin: 0px auto;
    margin-top: 30px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contant {
    width: 998px;
    height: 582px;
    text-align: center;
}

.header-contant img {
    /* margin-left: %; */
    text-align: center;
}

.header-contant p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}

.header-contant .header-btn {
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

/* Why web development needed style */
.web-development-container {
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    justify-content: center;
    text-align: center;
}

.web-development-content {
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 80px;
}

.web-development-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.web-development-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.web-development-first-content {
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
}

.web-development-text-content {
    width: 477px;
    height: 220px;
    margin-top: 50px;
}

.web-development-text-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.web-development-text-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.web-btn {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 10px;
    margin-right: 360px;
}

.web-development-image-content {
    width: 477px;
    height: 220px;
    margin-top: 50px;
}

.second-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.second-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.second-content .web-btn {
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 10px;
    margin-right: 360px;
}

/* inspretio section style */
.inspreation-container {
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 88px;
}

.inspreation-text-container {
    width: 852px;
    height: 115px;
    margin: 0 auto;
}

.inspreation-text-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

.inspreation-text-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

.inspreation-vide-container {
    width: 1140px;
    height: 614px;
    margin-top: 45px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.youtube-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 10px 0px;
    margin-left: 30px;
    margin-top: 30px;
}